<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Files</title>
    <link rel="stylesheet" href="{% static 'email_app/styles.css' %}">
</head>

<body>
    <a href="{% url 'home' %}" class="btn btn-secondary home-button">Return to Home Page</a>
    <div class="container">
        <h1>Upload Files</h1>
        {% if success %}
        <p>Files uploaded successfully!</p>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="adfafafasasfasfassdsd">
            <div class="form-group">
                <label for="contacts_file">Upload contacts.csv:</label>
                {{ form.contacts_file }}
            </div>
            <div class="form-group">
                <label for="subjects_file">Upload subjects.csv:</label>
                {{ form.subjects_file }}
            </div>
            <div class="form-group">
                <label for="gmail_file">Upload gmail.csv:</label>
                {{ form.gmail_file }}
            </div>
            <div class="form-group">
                <label for="html_file">Upload send_code.html:</label>
                {{ form.html_file }}
            </div>
            <button type="submit" class="btn btn-primary">Upload Files</button>
        </form>
    </div>
</body>

</html>