<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Credentials</title>
    <link rel="stylesheet" href="{% static 'email_app/styles.css' %}">
</head>

<body>
    <a href="{% url 'home' %}" class="btn btn-secondary home-button">Return to Home Page</a>
    <div class="container">
        <h1>Upload Credentials and Accounts</h1>
        {% if success %}
        <p>Files uploaded successfully!</p>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="adfafafasasfasfassdsd">
            <div class="form-group">
                <label for="accounts_file">Upload accounts.csv:</label>
                {{ form.accounts_file }}
            </div>
            <div class="form-group">
                <label for="credentials_files">Upload credentials files (JSON):</label>
                {{ form.credentials_files }}
            </div>
            <button type="submit" class="btn btn-primary">Upload Files</button>
        </form>
    </div>
</body>

</html>